.vscode/
.settings/
.metadata/
.tmp/
_deps/
build/
build_qemu/
Debug/
CMakeFiles/
CMakeScripts/
CMakeLists.txt.user
CMakeCache.txt
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.dep
*.o
*.axf
*.map
*.a
*.htm


# Local build artifacts
build_m7/
.codex
