<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debugger.launcher2">
    <mapAttribute key="AverageDurationTracker">
        <mapEntry key="*Fetching Data Model" value="5630200"/>
        <mapEntry key="*list global low level symbols" value="4751550"/>
        <mapEntry key="*loading values from target" value="7504188"/>
        <mapEntry key="*updating expressions" value="22065310"/>
        <mapEntry key="AddEventObserver" value="10951100"/>
        <mapEntry key="Evaluate" value="1419718"/>
        <mapEntry key="compute execution mode" value="1841850"/>
        <mapEntry key="continue" value="14775750"/>
        <mapEntry key="disassemble" value="125293809"/>
        <mapEntry key="get capabilities" value="525200"/>
        <mapEntry key="get execution addresss" value="535521"/>
        <mapEntry key="get source lines" value="519731"/>
        <mapEntry key="initialize command help" value="182828700"/>
        <mapEntry key="interrupt" value="7411893"/>
        <mapEntry key="list breakpoint options" value="6204800"/>
        <mapEntry key="list breakpoints" value="2906400"/>
        <mapEntry key="list instruction sets" value="3687000"/>
        <mapEntry key="list signals" value="301767700"/>
        <mapEntry key="list watchpoint options" value="11188100"/>
        <mapEntry key="list watchpoints" value="5731500"/>
        <mapEntry key="loadfile" value="442577600"/>
        <mapEntry key="set CWD" value="16327400"/>
        <mapEntry key="set debug-from" value="3277000"/>
        <mapEntry key="start" value="453778300"/>
        <mapEntry key="waitForTargetToStop" value="72533100"/>
    </mapAttribute>
    <intAttribute key="DEBUG_TAB..RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.CONNECT_TO_GDB_SERVER.RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.DEBUG_EXISTING_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_ANDROID"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_APP"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.TYPE" value="APPLICATION_ON_TARGET"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.COUNT" value="2"/>
    <listAttribute key="FILES.DOWNLOAD_AND_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.COUNT" value="3"/>
    <listAttribute key="FILES.DOWNLOAD_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.COUNT" value="3"/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.ICE_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.VALUE" value="${workspace_loc:/sample_threadx/Debug/sample_threadx.axf}"/>
    <intAttribute key="FILES.ICE_DEBUG.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.COUNT" value="1"/>
    <stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="ICE_DEBUG"/>
    <stringAttribute key="HOST_WORKING_DIR" value="${workspace_loc}"/>
    <booleanAttribute key="HOST_WORKING_DIR_USE_DEFAULT" value="true"/>
    <booleanAttribute key="KEY_COMMANDS_AFTER_CONNECT" value="false"/>
    <stringAttribute key="KEY_COMMANDS_AFTER_CONNECT_TEXT" value=""/>
    <booleanAttribute key="KEY_COMMANDS_AS_CONNECT" value="false"/>
    <booleanAttribute key="RSE_USE_HOSTNAME" value="true"/>
    <stringAttribute key="TCP_DISABLE_EXTENDED_MODE" value="true"/>
    <booleanAttribute key="TCP_KILL_ON_EXIT" value="false"/>
    <booleanAttribute key="VFS_ENABLED" value="true"/>
    <stringAttribute key="VFS_LOCAL_DIR" value="${workspace_loc}"/>
    <stringAttribute key="VFS_REMOTE_MOUNT" value="/writeable"/>
    <stringAttribute key="breakpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;breakpoints order=&quot;ALPHA&quot;&gt;&#10;&lt;/breakpoints&gt;&#10;"/>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.addresses">
        <listEntry value="&lt;Next Instruction&gt;"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.ranges">
        <listEntry value="100"/>
    </listAttribute>
    <stringAttribute key="config_db_activity_name" value="Debug Cortex-M7"/>
    <stringAttribute key="config_db_connection_keys" value="dtsl_config dtsl_tracecapture_option dtsl_config_script model_params config_file setup TCP_KILL_ON_EXIT TCP_DISABLE_EXTENDED_MODE"/>
    <stringAttribute key="config_db_connection_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_platform_name" value="Arm FVP (Installed with Arm DS) - MPS2_Cortex_M7"/>
    <stringAttribute key="config_db_project_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_project_type_id" value="BARE_METAL"/>
    <stringAttribute key="config_db_taxonomy_id" value="/platform/armfvp_installedwitharmds_/mps2_cortex_m7"/>
    <stringAttribute key="config_file" value="CDB://cadi_config.xml"/>
    <booleanAttribute key="connectOnly" value="false"/>
    <listAttribute key="debugger.view.DisassemblyView:current">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="debugger.view.ExpressionsView">
        <listEntry value="thread_0_counter"/>
        <listEntry value="thread_1_counter"/>
        <listEntry value="thread_1_messages_sent"/>
        <listEntry value="thread_2_counter"/>
        <listEntry value="thread_2_messages_received"/>
        <listEntry value="thread_3_counter"/>
        <listEntry value="thread_4_counter"/>
        <listEntry value="thread_5_counter"/>
        <listEntry value="thread_6_counter"/>
        <listEntry value="thread_7_counter"/>
    </listAttribute>
    <mapAttribute key="debugger.view.ExpressionsView.ExpressionsData">
        <mapEntry key="0" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="1" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="2" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="3" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="4" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="5" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="6" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="7" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="8" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="9" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
    </mapAttribute>
    <stringAttribute key="debugger.view.ExpressionsView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;200&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;90&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;108&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;57&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;50&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;37&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;80&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;53&#9;-1&#9;true"/>
    <booleanAttribute key="debugger.view.expression.DrawAsHex" value="false"/>
    <stringAttribute key="dtsl_config" value="DtslScript"/>
    <stringAttribute key="dtsl_config_script" value="CDB://dtsl_config_script.py"/>
    <stringAttribute key="dtsl_options_file" value="default"/>
    <stringAttribute key="dtsl_tracecapture_option" value="options.traceBuffer.traceCaptureDevice"/>
    <stringAttribute key="launch_configuration_version" value="2020.0"/>
    <booleanAttribute key="linuxOS" value="false"/>
    <stringAttribute key="model_params" value=""/>
    <booleanAttribute key="runAfterConnect" value="false"/>
    <listAttribute key="setup">
        <listEntry value="CDB://Scripts/rtsm_launcher.py"/>
        <listEntry value="&quot;FVP_MPS2_Cortex-M7&quot;"/>
    </listAttribute>
    <booleanAttribute key="single_platform" value="true"/>
    <stringAttribute key="stopAtExpression" value="*$ENTRYPOINT"/>
    <stringAttribute key="watchpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;watchpoints&gt;&#10;&lt;/watchpoints&gt;&#10;"/>
</launchConfiguration>
